@*
    ViewData["Title"] = "Workout Schedule builder Page";
*@

@section Overlay
{
    @*//TODO: turn this into a viewcomponent*@
    <div id="overlay">

    </div>
}

<div class="row planning">
    <div class="card-group">
        <div class="card col-lg-2 col-md-6 col-sm-12">
            <div class="card-header">
                <h5>Monday</h5>
            </div>
            <div class="card-body">
                BOdy
            </div>
        </div>
        <div class="card col-lg-2 col-md-6 col-sm-12">
            <div class="card-header">
                <h5>Tuesday</h5>
            </div>
            <div class="card-body">
                BOdy
            </div>
        </div>
        <div class="card col-lg-2 col-md-6 col-sm-12">
            <div class="card-header">
                <h5>Werdnesday</h5>
            </div>
            <div class="card-body">
                BOdy
            </div>
        </div>
        <div class="card col-lg-2 col-md-6 col-sm-12">
            <div class="card-header">
                <h5>Thursday</h5>
            </div>
            <div class="card-body">
                BOdy
            </div>
        </div>
        <div class="card col-lg-2 col-md-6 col-sm-12">
            <div class="card-header">
                <h5>Friday</h5>
            </div>
            <div class="card-body">
                BOdy
            </div>
        </div>
        <div class="card col-lg-2 col-md-6 col-sm-12">
            <div class="card-header">
                <h5>Saterday</h5>
            </div>
            <div class="card-body">
                BOdy
            </div>
        </div>
        <div class="card col-lg-2 col-md-6 col-sm-12">
            <div class="card-header">
                <h5>Sunday</h5>
            </div>
            <div class="card-body">
                BOdy
            </div>
        </div>

    </div>
</div>

@section Style
{
    <link rel="stylesheet" href="~/css/exercise/workoutschedule.css" />
}