@using Life.Application.Services.Exercises.DTO
@using Life.Core.Domain.Exercises

@model IEnumerable<IGrouping<ExerciseType, ExerciseDTO>>
@*
    Layout = null;
*@

<div id="overlay">
    <form class="form-inline md-form form-sm mt-0">
        <i class="fas fa-search" aria-hidden="true"></i>
        <input class="form-control form-control-sm w-100" onkeyup="searchMenuItems()" id="searchInput" type="text" placeholder="Search"
               aria-label="Search">
    </form>
    <ul class="list-group" id="menuList">
        @{
            var count = 0;
            // Expects a list ordered by exerciseType
            foreach (var typeList in Model)
            {
                <li>
                    <ul class="list-group">
                        <li class="list-group-item category">@typeList.Key</li>
                        @foreach (var item in typeList)
                        {
                            <li class="list-group-item" id="item-@count" draggable="true" ondragstart="drag(event)">@item.Title</li>
                            count++;
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</div>

<environment include="Development">
    <script src="~/js/exercise/viewcomponents/exerciseItemsMenu.js" on-content-loaded="true"></script>
</environment>
<environment include="Production">
    <script src="~/js/exercise/viewcomponents/exerciseItemsMenu.min.js" on-content-loaded="true"></script>
</environment>


