@using Life.Application.Services.Exercise.DTO
@model List<ExerciseInfoDTO>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="">
    <input type="text" />
    <p>
        text jajajaja
    </p>
</div>